<!DOCTYPE html>
<html>
	<head>
		<title>Tweetify - Create Community</title>
		<link rel="stylesheet" href="/static/Styles/CreateCommunity.css">
	</head>
	<body>
		<div class="main">
			<h1>Create Community</h1>
			<p>Create your own Tweetify community.</p>
		</div>
	</body>
</html>

