<!DOCTYPE html>
<html>
	<head>
		<title>Tweetify - Explore Communities</title>
		<link rel="stylesheet" href="/static/Styles/CommunityExplore.css">
		<script src="/static/Scripts/CommunityExplore.js" type="module"></script>
	</head>
	<body>
		<div class="main">
			<h1>Explore Communities</h1>
			<p>Explore and discover chat groups. Use our search feature to find new communities instantly.</p>
			<div class="search">
				<input type="text" class="query" placeholder="Search Query...">
				<button>Search</button>
				<div class="searchRecommendations"></div>
			</div>
		</div>
	</body>
</html>

