<!DOCTYPE html>
<html>
	<head>
		<title>Tweetify - Explore Communities</title>
		<link rel="stylesheet" href="/static/Styles/Home.css">
	</head>
	<body>
		<div class="main">
			<h1>Explore Communities</h1>
			<p>Explore and discover chat groups.</p>
		</div>
	</body>
</html>

