<!DOCTYPE html>
<html>
	<head>
		<title>Tweetify - The Best App</title>
		<link rel="stylesheet" href="/static/Styles/Home.css">
	</head>
	<body>
		<div class="main">
			<h1>Tweetify</h1>
			<p>⛧°.⋆༺🦇༻⋆.°⛧</p>
			<p>Tweetify is a modern instant messaging app that allows users to communicate quickly and obtain points by chatting. To get started, <a href="/communities/explore">explore communities</a>, or <a href="/communities/create">create your own</a>.</p>
			<button class="button">Explore Communities</button>
			<button class="button">Create Your Own Community</button>
		</div>
	</body>
</html>

